@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

/* colors */
@cl_orange: rgb(255,114,0);
@cl_borders: rgb(237,237,237);
@cl_background: @white;
@cl_lightblue: lighten(@blue, 5%);

/* sizes */
@sz_body_min_width: 800px;
@sz_search_bar_padding: 5px;
@sz_search_input_height: 30px;
@sz_search_input_border: 10px;
@sz_search_input_width: 300px;
@sz_search_bar_height: @sz_search_input_height + 2*@sz_search_input_border + 2*@sz_search_bar_padding + 10px;
@sz_categories_width: 500px;
@sz_loading_width: 300px;
@sz_loading_height: 100px;
@sz_margin_left: 30px;
@sz_details_phones_width: 200px;

/* z indexes */
@zi_categories: 1000;
@zi_breadcrumbs: @zi_categories + 10;
@zi_tooltip: @zi_categories  + 50;
@zi_loading: @zi_categories + 100;

/* images */
@img_loading: url(/static/img/overlay.png);
@img_spinner: url(/static/img/spinner.gif);

/* common */
a { outline: 0; }
.hide { display: none; }
/* fix placeholder position in webkit */
::-webkit-input-placeholder {
    padding-top: 5px;
}


body {
    background-color: @cl_background;
    min-width: @sz_body_min_width;
    padding: @sz_search_bar_height + 40px 0 70px 0;
}

.top-line {
    position: fixed;
    top: @sz_search_bar_height;
    width: 100%;
    height: 2px;
    background-color: @cl_lightblue;
}

.index .top-line {
    top: 0;
}

.search-bar {
    background-color: @cl_background;
    width: 100%;
    position: fixed;
    padding: @sz_search_bar_padding 0;
    top: 0;
    form {
        margin: 0;
        display: inline-block;
        margin-left: 20px;
        input {
            margin: 0;
            border: @sz_search_input_border solid @cl_borders;
            font-size: 24px;
            height: @sz_search_input_height;
            padding: 5px 10px;
            width: @sz_search_input_width;
            padding-right: 40px;
            &:focus {
                border-color: fadeout(@blue, 40%);
                outline: 0;
                outline: thin dotted \9; /* IE6-9 */
                .box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px fadeout(@blue, 60%));
            }
        }
        button {
            margin: 0;
            position: relative;
            top: 2px;
            left: -55px;
        }
    }
    .logo {
        display: inline-block;
        color: @cl_orange;
        margin-left: @sz_margin_left;
        vertical-align: center;
        font-size: 30px;
        font-weight: bold;
        position: relative;
        top: 8px;
        &:hover {
            text-decoration: none;
        }
    }
}

.index .search-bar {
    margin-top: -@sz_search_bar_height/2;
    top: 50%;
    left: @sz_margin_left;
}

.breadcrumbs {
    z-index: @zi_breadcrumbs;
    display: block;
    position: fixed;
    left: @sz_margin_left;
    top: @sz_search_bar_height + 2px;
    font-size: 14px;
    color: @white;
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            background-color: @cl_lightblue;
            display: inline-block;
            padding: 1px 5px;
            .border-radius(0 0 5px 5px);
        }
    }
    a {
        color: @white;
    }
}

.index .breadcrumbs {
    top: 2px;
}

.categories {
    overflow-y: auto!important;
    -webkit-overflow-scrolling: touch;
    padding: 40px 10px 10px 10px;
    display: none;
    background-color: @cl_background;
    z-index: @zi_categories;
    position: fixed;
    top: @sz_search_bar_height + 2px;
    left: 0;
    width: @sz_categories_width;
    .box-shadow(2px 2px 5px lighten(@blue, 20%));
}

.index .categories {
    top: 2px;
}

.results {
    display: block;
    margin: 0 @sz_margin_left;
}

.index .results {
    display: none;
}

.loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: @sz_loading_width;
    margin-left: -@sz_loading_width/2;
    margin-top: -@sz_loading_height/2 - 12px;
    z-index: @zi_loading;
    background: @img_loading;
    font-size: 24px;
    color: @white;
    .border-radius(5px);
    text-align: center;
    padding: @sz_loading_height/2 0;
}

.no-results {
    font-size: 24px;
    width: 100%;
    text-align: center;
}

.index .no-results {
    display: none;
}

footer {
    position: fixed;
    top: 100%;
    width: 100%;
    margin-top: -22px;
    div {
        font-size: 14px;
        background-color: @cl_background;
        padding: 2px 10px;
        float: right;
        .border-radius(5px 0 0 0);
    }
}

.user-tooltip {
    display: none;
    position: fixed;
    z-index: @zi_tooltip;
    border: 2px solid @cl_lightblue;
    padding: 5px;
    min-width: 30px;
    min-height: 30px;
    .border-radius(3px);
    background-color: @cl_background;
    &.spinner {
        background-image: @img_spinner;
        background-repeat: no-repeat;
        background-position: 12px 12px;
    }
    &:before {
        display: inline-block;
        content: '';
        width: 0;
        height: 0;
        border-left: 7px solid #fff;
        border-left-color: @cl_lightblue;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        position: absolute;
        top: 5px;
        right: -7px;
    }
    &:after {
        display: inline-block;
        content: '';
        width: 0;
        height: 0;
        border-left: 6px solid #fff;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        position: absolute;
        top: 6px;
        right: -6px;
    }
    .phones {
        font-size: 12px;
        line-height: 1em;
        padding: 0;
        width: @sz_details_phones_width;
        display: inline-block;
        float: left;
        text-align: left;
        ul {
            margin-left: 0;
            li {
                list-style: none;
                border-bottom: 1px dashed @cl_lightblue;
            }
        }
    }
    .about {
        padding-left: @sz_details_phones_width + 5px;
        text-align: right;
        min-width: 150px;
        max-width: 250px;
        h2 {
            line-height: 1em;
            font-size: 14px;
            padding: 0;
            margin: 0;
        }
        p {
            font-size: 12px;
        }
        img {
            margin-top: -5px;
            max-width: 180px;
            max-height: 120px;
        }
    }
}
