{% load i18n %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
        <title>{% block title %}{% trans 'Phone book' %}{% endblock %}</title>
        {% block css %}{% endblock %}
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        {% block body %}
        {% endblock %}
        {% block js %}
        {% endblock %}
    </body>
</html>
